fastapi>=0.104.0
uvicorn[standard]>=0.24.0
SQLAlchemy>=2.0.0
passlib[bcrypt]
python-jose[cryptography]
python-dotenv
APScheduler
httpx
openai
sentence-transformers==3.0.1
torch
transformers
scikit-learn
numpy
psycopg2-binary>=2.9.0 